body{
    font-family:sans-serif,Arial, Helvetica;
    background: url('https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80') no-repeat ;
    background-position: center;
}

h1,h2{
    text-align: center;
    color:rgb(217, 255, 0);
}
#ff{
    color:black;
    margin-left:300px;
    margin-right:300px;
    text-align:center;
    background-color: rgba(248, 175, 18,0.5);
    line-height: 2;
    border:2px dashed black;   
}
input[type=submit] {
    width: 30%;
    background-color: rgba(200,200,200,0.5);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
